<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
</head>
<body>
    <div id="header">
        <h1>Панель управления</h1>
        <button id="register" onclick="location.href='/register'">РЕГИСТРАЦИЯ</button>
        <button id="login" onclick="location.href='/login'">ВХОД</button>
        <button id="token" onclick="location.href='/token'">ПОЛУЧИТЬ ТОКЕН (пока доеснт ворк)</button>
    </div>

    <div id="livingroom">
        <h2>Гостиная</h2>
        <button id="curtains" onclick="controlDevice('/livingroom/curtains')">Шторы</button>
        <button id="light" onclick="controlDevice('/livingroom/light')">Свет</button>
        <button id="radiator" onclick="controlDevice('/livingroom/radiator')">Радиатор</button>
        <div>
            <label for="curtain_time">Время закрытия штор:</label>
            <input type="text" id="curtain_time" name="curtain_time">
        </div>
    </div>
    <div id="greenhouse">
        <h2>Оранжерея</h2>
        <button id="watering" onclick="controlDevice('/greenhouse/watering')">Полив</button>
        <div>
            <label for="watering_time">Время полива растений:</label>
            <input type="text" id="watering_time" name="watering_time">
        </div>
    </div>
    <div id="balcony">
        <h2>Балкон</h2>
        <button id="balcony_light" onclick="controlDevice('/balcony/light')">Подсветка</button>
    </div>
    <div id="bedroom">
        <h2>Спальня</h2>
        <button id="bedroom_light" onclick="controlDevice('/bedroom/light')">Подсветка</button>
        <button id="bedroom_lightmusic" onclick="controlDevice('/bedroom/lightmusic')">Светомузыка</button>
    </div>
    <div id="room">
        <h2>Комната</h2>
        <button id="room_light" onclick="controlDevice('/room/light')">Свет</button>
        <button id="room_kettle" onclick="controlDevice('/room/kettle')">Чайник</button>
    </div>
    <div id="temperature">
        <h2>Температура в доме</h2>
        <p id="temperature_display">Температура: -- °C</p>
        <p id="humidity_display">Влажность: -- %</p>
    </div>

    <button onclick="saveSettings()">Сохранить настройки</button>

    <script>
        function controlDevice(endpoint) {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('Пожалуйста сначала ВОЙДИТЕ в систему');
                return;
            }

            fetch(endpoint, {
                method: 'GET',
                headers: {
                    'x-access-token': token
                }
            }).then(response => {
                if (response.ok) {
                    //alert('Device controlled successfully');
                } else {
                    alert('Не удалось авторизироваться. \n попробуйте ВОЙТИ');
                }
            });
        }

        function saveSettings() {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('Пожалуйста сначала ВОЙДИТЕ в систему');
                return;
            }

            const curtain_time = document.getElementById('curtain_time').value;
            const watering_time = document.getElementById('watering_time').value;

            fetch('/api/user_settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    jwt: token,
                    curtain_time: curtain_time,
                    watering_time: watering_time
                })
            }).then(response => {
                if (response.ok) {
                    alert('Настройки сохранены');
                } else {
                    alert('Не удалось сохранить настройки');
                }
            });
        }

        function getEnvironmentData() {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('Пожалуйста сначала ВОЙДИТЕ в систему');
                return;
            }

            const decodedToken = jwt_decode(token);
            const username = decodedToken.username;

            fetch(`/api/user_settings?username=${username}`)
                .then(response => response.json())
                .then(data => {
                    if (data.temperature) {
                        document.getElementById('temperature_display').textContent = `Температура: ${data.temperature} °C`;
                    }
                    if (data.humidity) {
                        document.getElementById('humidity_display').textContent = `Влажность: ${data.humidity} %`;
                    }
                });
        }

        // Вызов функции для получения температуры и влажности при загрузке страницы
        window.onload = getEnvironmentData;
    </script>
</body>
</html>
