<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
</head>
<body>
    <div id="header">
        <h1>Панель управления</h1>
        <button id="register" onclick="location.href='/register'">РЕГИСТРАЦИЯ</button>
        <button id="login" onclick="location.href='/login'">ВХОД</button>
    </div>

    <div id="livingroom">
        <h2>Гостиная</h2>
        <button id="curtains" onclick="controlDevice('/livingroom/curtains')">Шторы</button>
        <button id="light" onclick="controlDevice('/livingroom/light')">Свет</button>
        <button id="radiator" onclick="controlDevice('/livingroom/radiator')">Радиатор</button>
    </div>
    <div id="greenhouse">
        <h2>Оранжерея</h2>
        <button id="watering" onclick="controlDevice('/greenhouse/watering')">Полив</button>
    </div>
    <div id="balcony">
        <h2>Балкон</h2>
        <button id="balcony_light" onclick="controlDevice('/balcony/light')">Подсветка</button>
    </div>
    <div id="bedroom">
        <h2>Спальня</h2>
        <button id="bedroom_light" onclick="controlDevice('/bedroom/light')">Подсветка</button>
        <button id="bedroom_lightmusic" onclick="controlDevice('/bedroom/lightmusic')">Светомузыка</button>
    </div>
    <div id="room">
        <h2>Комната</h2>
        <button id="room_light" onclick="controlDevice('/room/light')">Свет</button>
        <button id="room_kettle" onclick="controlDevice('/room/kettle')">Чайник</button>
    </div>

    <script>
        function controlDevice(endpoint) {
            const token = localStorage.getItem('token');
            if (!token) {
                alert('Пожалуйста сначала ВОЙДИТЕ в систему');
                return;
            }

            fetch(endpoint, {
                method: 'GET',
                headers: {
                    'x-access-token': token
                }
            }).then(response => {
                if (response.ok) {
                    //alert('Device controlled successfully');//
                } else {
                    alert('Не удалось авторизироваться. \n попробуйте ВОЙТИ');
                }
            });
        }
    </script>
</body>
</html>
